.register-style {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-form {
	width: 100vh;
	padding: 30px;
}
.login-btn {
	width: 100%;
	height: 8.5vh;
}
.register-btn {
    height: 100%;
    width: 100%;
    padding: 9px;
}
ul.side-nav.fixed {
  overflow: hidden;
}
#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none;
}
li.logo {
  text-align: center;
  margin-top: 20px;
}
.pad-20px {
  padding-top: 20px;
}
a.button-collapse.top-nav.full {
    line-height: 122px;
}
a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 36px;
  z-index: 2;
}
a:active, a:hover {
  outline: 0;
}
main, footer {
  padding-left: 180px;
}
main {
  height: 88vh;
}
footer {
  height: 10vh;
}
p.justify-content {
  text-align: justify;
}
p.footer-text {
  padding: 20px;
}
.center-content {
  position: relative;
  top: 45px;
  left: 35px;
}
.submit-project {
    padding: 80px 0 80px 0px;
}
.padding-pas {
  padding: 10px;
}
th.hidden, td.hidden {
  display: none;
}
